@use 'variables';
@use 'placement';

.page-wrapper{
  background-color: $primaryColor;
}
.sidebar{
  background-color: $accentColor2;
}
h3{
  font-family: $headerFont;
  @include upperCase(); 
}
p{
  font-family: $bodyFont;
}