@import "animations.css";
@import "variables.css";
@import "placement.css";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');





abbr[title] {
  /*style*/
  text-decoration: none;
}



body {
  /*style*/
  background-color: beige;
}
.sidebar{
  /*style*/
  background-color: rgb(96, 122, 96);
  line-height: 2em;
  h3{
    text-align: center;
  }
  }

h3{
  /*style*/
  font-family: $headerFont;
  @include upperCase;
}
p{
  /*style*/
  font-family: $bodyFont;
}
