@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

$primaryColor: beige;
$accentColor1: #96816E;
$accentColor2: #1e4625;

$headerFont:  'Open Sans', sans-serif;
$bodyFont: 'Merriweather', serif;

